<!-- flat flask-admin template with sidebar by https://github.com/qeeqbox/analyzer -->
{% extends 'admin/base.html' %}
{% block head_css %}
{{ super() }}
<style>
 body, html {
     height: 100%;
     padding: 0 0 0 0;
     font-family: monospace !important;
     font-size: 12px;
     color: #121212 !important;
     cursor: default !important;
}
 
 * {
     -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
     border-radius: 0 !important;
}

a:link {
    color: #a2a2a2;
    cursor: default !important;
}

a:visited {
    color: #646464;
    cursor: default !important;
}

a:hover {
    color: #121212;
    cursor: default !important;
}

 .container {
     width: 100%;
     padding: 0 0 0 0;
     margin: 0 0 0 0;
}
 .container .navbar, #admin-navbar-collapse *, .navbar-brand {
     color: #fff !important;
     background-color: #313a46 !important;
     z-index: 9999;
}
 .navbar-brand{
     height: 30px;
     font-size: 12px;
}
 .icon-bar {
     background-color: #fff !important;
}
 .wrapper-col-sidebar {
     max-width: 150px;
     min-width: 150px;
     width: 150px;
}
 .wrapper-col-sidebar nav {
     width: 100%;
}
 .wrapper-col-sidebar a:link, .wrapper-col-sidebar a:visited{
     color: #121212 !important;
}

 .wrapper-row-cus {
     height: 100%;
     width: 100%;
     display: flex;
     margin: 0 0 0 0 !important;
     padding: 0 0 0 0 !important;
}
 .siderbar-nav-custom {
     height: 100%;
     width: 100%;
     background-color: #c0c0c0;
}
 .siderbar-nav-custom span, .navbar-heading-custom span {
     padding-left: 8px;
}
 .navbar {
     padding: 0 0 0 0;
     margin: 0 0 0 0;
     border-radius: 0px;
     min-height: 30px;
}
 .navbar-header{
     height: 30px !important;
}
 .navbar-toggle {
     position: relative;
     float: right;
     padding: 0 0 0 0 !important;
     margin: 6px 6px 0 0 !important;
}
 .wrapper-col-content-cus .container-fluid {
     padding: 20px 20px 20px 20px;
}
 @media (max-width: 768px) {
     .siderbar-nav-custom li a {
         font-size: 0 !important;
    }
     .siderbar-nav-custom li a i {
         font-size: 16px !important;
    }
     .wrapper-col-sidebar {
         max-width: 48px;
         min-width: 48px;
         width: 48px;
    }
     .wrapper-col-sidebar .nav-link span {
         position: absolute;
         opacity: 0;
    }
    ul .nav li {
        padding-left: 0 !important;
    }
}
 @media (max-width: 576px) {
     .wrapper-col-sidebar {
         max-width: 0;
         min-width: 0;
         width: 0;
         overflow-x: hidden;
    }
}
 .wrapper {
     height: calc(100vh - 30px);
     padding: 0 0 0 0 !important;
     margin: 0 0 0 0 !important;
}
 .navbar-cus {
     padding: 0;
     height: 30px;
}
 .default-navbar a {
     color: #fff !important;
}
 .navbar-cus {
     background-color: #313a46 !important;
}
 .navbar-heading-custom {
     background-color: #313a46 !important;
     height: 100%;
}
 .navbar-heading-custom .nav {
     color: black;
     position: relative;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     transform: translateY(-50%);
}
 .navbar-heading-custom .navbar-cus a {
     color: black !important 
}
 .wrapper-col-content-cus {
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     overflow-x: hidden;
}
 .content-wrapper{
     overflow-y: scroll !important;
     overflow-x: hidden;
}
 .wrapper-col-content-cus .content-wrapper {
     height: 100%;
     min-height: 100%;
     max-height: 100%;
}
 .wrapper-col-content-cus .content {
     margin: 10px 20px 10px 20px;
}
 .wrapper-col-content-cus .bottom {
     height: 30px;
     flex: 1;
     background-color: #313a46 !important;
}
 .siderbar-nav-custom a {
     color: #000;
     outline: 0 !important;
}
 .wrapper-col-sidebar .active {
     color: #206BA4 !important;
     box-shadow: inset 5px 0 0 0 #313a46;
     background-color: #fff !important;
}
 .wrapper-col-sidebar .noredbox{
     box-shadow: none !important;
     background-color: #c0c0c0 !important;
     color: #000 !important;
}
 .custom-dropdown-toggle{
     box-shadow: none !important;
     background-color: #c0c0c0 !important;
}
 .fix-margin-icon{
     margin: 0 0 0 0 !important;
}
 .left-padding {
     padding-left: 10px;
}
 .card {
     margin: 0 auto;
     border: 1px solid #c0c0c0;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     margin: 5px 5px 5px 5px;
}
 .card-header {
     height: 30px;
     background-color: #c0c0c0;
     font-size: 12px;
     font-weight: bold;
     padding: 5px 10px 5px 10px;
}
 .card-body {
     padding: 20px 20px 20px 20px;
     flex-direction: column;
}
 .center-text {
     text-align: center;
}
 .width100 .form-group {
     margin: 0 0 0 0;
}
 .width100 .form-group * {
     width: 100% 
}
 .width100 .form-group>* {
     margin-bottom: 20px !important;
}
 .width100 .form-group>:last-child {
     margin-bottom: 0px !important;
}
 .vertical-center {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: calc(100vh - 140px);
}
 .col-center {
     margin: 0 auto;
     float: none;
}
 ul.nav a:hover {
     background-color: transparent !important;
}
 .pre-class {
     padding: 0 0 0 0;
     background-color: transparent;
     border: none;
     white-space: pre-wrap;
}
 .alert {
     left: 50%;
     bottom: 0;
     position: fixed;
     transform: translateX(-50%);
     z-index: 99999;
     display: inline-flex;
}
 .light_yellow {
     background-color: #FFFF99 !important;
}
 .light_green {
     background-color: #7CDA7C !important;
}
 .light_red {
     background-color: #ff4d4d !important;
}
 .light_blue {
     background-color: #87CEEB !important;
}
 #choices {
     padding: 0 0 0 0;
     max-height: 170px;
     overflow-y: auto;
     text-align: left;
}
 #choices li * {
     font-weight: normal !important;
     width: auto !important;
}
 .navbar-nav li a {
     padding: 0 15px;
     line-height: 30px;
}
 .navbar-header a {
     padding: 0 15px;
     line-height: 30px;
}
 .navbar {
     border: none;
}
 .activelogs {
     width: 100%;
     border: none;
}
 a {
     outline: none !important;
}
 .siderbar-nav-custom > li > a {
     line-height: 20px;
     padding: 5px 15px 5px;
}
 .navbar-header a {
     padding: 0 15px;
     line-height: 30px;
}
 #admin-navbar-collapse{
     padding: 0 0 0 0;
}
 .toggle-items{
     margin: 0 0 0 0 !important;
}
 input[type='file']{
     -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
     border-radius: 0 !important;
}
 .wrapper-col-sidebar .dropdown li a{
     line-height: 20px !important;
     padding: 5px 15px 5px;
}
 textarea {
     border: 1px solid #ccc;
     background-color: #ffffff;
     resize: none;
     padding: 2px 5px 2px 5px;
}
 select {
     border: 1px solid #c0c0c0 !important;
     outline:0px;
     -moz-appearance: none;
     -webkit-appearance: none;
}
 select::-ms-expand {
     display: none;
}
 textarea:hover, input:hover,button:hover, textarea:active, input:active, button:active,.btn:active,.btn.active, textarea:focus, input:focus,button:focus,label:focus {
     outline:0px !important;
     box-shadow: none !important;
}
 input {
     border: 1px solid #c0c0c0 !important;
     outline: none;
     padding: 2px 5px 2px 5px;
}
 input[type='checkbox'] {
     -webkit-appearance: none;
     -webkit-box-shadow: none;
     -moz-box-shadow: none;
     box-shadow: none;
     padding: 5px;
     height: 5px;
     color: #c0c0c0;
     border: 1px solid #c0c0c0;
     outline: none;
}
 input[type='checkbox']:checked {
     position:relative;
}
 input[type='checkbox']:checked:before {
     position: absolute;
     display: block;
     background: none #c0c0c0;
     content:'';
     height: 8px;
     width: 8px;
     left: 1px;
     top: 1px;
}

ul .nav li {
   padding-left: 18px;
}

input[type='file'] {
  background-color: #e4e4e4;
  /*padding-top: 35px;
  height: 35px;
  background: url('/static/upload.png') center center no-repeat #e4e4e4;
  background-size: 25px 25px;*/
}

.taskspinner {
  border: 2px solid #ccc !important;
  border-top-color: #000 !important;
  border-radius: 50% !important;
  animation: spinner .9s linear infinite;
  width: 18px;
  height: 18px;
  margin-left: 10px;
}

.new_card {
    margin: 0 auto;
    border: 1px solid #c0c0c0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
     -webkit-border-radius: 4px !important;
     -moz-border-radius: 4px !important;
     border-radius: 4px !important;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
   var csrf_token = '{{ csrf_token() }}'
</script>
{% endblock %}
{% block page_body %}
<div class="container{%if config.get('FLASK_ADMIN_FLUID_LAYOUT', False) %}-fluid{% endif %}">
   <nav class="navbar navbar-expand bg-primary navbar-cus" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
         {% if current_user.is_authenticated %}
         <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#admin-navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         </button>
         {% endif %}
         {% block brand %}
         <a class="navbar-brand" href="{{ admin_view.admin.url }}">{{ admin_view.admin.name }}</a>
         {% endblock %}
      </div>
      <!-- navbar content -->
      <div class="collapse navbar-collapse" id="admin-navbar-collapse">
         {% block menu_links %}
         <ul class="nav navbar-nav navbar-right toggle-items">
            {{ layout.menu_links() }}
         </ul>
      </div>
   </nav>
   {# store the jinja2 context for form_rules rendering logic #}
   {% set render_ctx = h.resolve_ctx() %}
   <div class="container-fluid wrapper">
      <div class="row wrapper-row-cus">
         {% if current_user.is_authenticated %}
         <div class="wrapper-col-sidebar">
            {% block main_menu %}
            <ul class="nav flex-column flex-nowrap siderbar-nav-custom">
               {{ layout.menu() }}
            </ul>
            {% endblock %}
         </div>
         {% endif %}
         <div class="wrapper-col-content-cus">
            <div class="content-wrapper">
               <div class="content">
                  {% block messages %}
                  {{ layout.messages() }}
                  {% endblock %}
                  {% block body %}
                  {% endblock %}
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endblock %}
   {% block access_control %}
   {% endblock %}
</div>
{% endblock %}
{% block tail_js %}
{{ super() }}
<script type="text/javascript">
$('.custom-dropdown-toggle').click(function() {
   $(this).next().collapse('toggle');
   if ($(this).next().attr('aria-expanded') === 'false')
   {
      console.log($(this).children().removeClass("glyphicon-chevron-down"))
      console.log($(this).children().addClass("glyphicon-chevron-right"))
   }
   else
   {
      console.log($(this).children().removeClass("glyphicon-chevron-righ"))
      console.log($(this).children().addClass("glyphicon-chevron-down"))
   }
   var dict_ = {}
   dict_[$(this).text().replace(/[^a-zA-Z0-9]/g, '')] = String($(this).next().attr('aria-expanded'))
   console.log(dict_)
   $.ajaxSetup({
      headers: { "X-CSRFToken": csrf_token }
    });
    $.ajax({
        type: "POST",
        url: "/toggled",
        data: JSON.stringify(dict_),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
    });
});

$(document).ready(function(){
    $("#file").on('change',function(){
        if ($("#file")[0].files.length > 0) {
            $("#submit").attr("disabled",false);
            if ($("#file")[0].files.length > 1) {
                $("#submitandwait").attr("disabled",true);
            }
            else{
                $("#submitandwait").attr("disabled",false);
            }
        }
        else{
            $("#submit").attr("disabled",true);
            $("#submitandwait").attr("disabled",true);
        }
    });
    $("#buffer").on('change keyup',function(){
        if ($("#buffer").val().length > 0)
        {
            $("#submit").attr("disabled",false);
            $("#submitandwait").attr("disabled",false);
        }
        else{
            $("#submit").attr("disabled",true);
            $("#submitandwait").attr("disabled",true);
        }
    });
});

</script>
{% endblock %}


