{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        In-line buffer
      </div>
      <div class="card-body width100">
            <img style="max-width: 100%; height: auto;" src="/static/bufferfind.png">
            <form method="POST" action="" enctype="multipart/form-data">
                <div class="form-group center-text">
                {% for f in form if f.type != 'CSRFTokenField' %}
                {% if f.label.text == "Buffer" %}
                {{ f }}
                {% endif %}
                {% endfor %}
                {% for f in form if f.type != 'CSRFTokenField' %}
                {% if f.label.text != "Buffer" and f.label.text != "Analyzertimeout" and f.label.text != "Functiontimeout" %}
                {{ f }}
                {% endif %}
                {% endfor %}
                {% for f in form if f.type != 'CSRFTokenField' %}
                {% if f.label.text == "Analyzertimeout" %}
                {{ f }}
                {% endif %}
                {% endfor %}
                {% for f in form if f.type != 'CSRFTokenField' %}
                {% if f.label.text == "Functiontimeout" %}
                {{ f }}
                {% endif %}
                {% endfor %}
                <button class="btn" type="submit">Analyze</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </form>
      </div>
    </div>
</div>
<div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        Switches
      </div>
      <div class="card-body width100">
        <pre class="pre-class">
Analysis switches:
  --behavior            check with generic detections
  --xref                get cross references
  --yara                analyze with yara module (Disable this for big files)
  --language            analyze words against english language
  --mitre               map strings to mitre
  --topurl              get urls and check them against top 10000
  --ocr                 get all ocr text
  --enc                 find encryptions
  --cards               find credit cards
  --creds               find credit cards
  --patterns            find common patterns
  --suspicious          find suspicious strings
  --dga                 find Domain generation algorithms
  --plugins             scan with external plugins
  --visualize           visualize some artifacts
  --flags               add countries flags to html
  --icons               add executable icons to html
  --worldmap            add world map to html
  --spelling            force spelling check
  --image               add similarity image to html
  --full                analyze using all modules
  --phishing            analyze phishing content

Force analysis switches:
  --unicode             force extracting ascii
  --bigfile             force analyze big files

Whitelist switches:
  --w_internal          find it in white list by internal name
  --w_original          find it in white list by original name
  --w_hash              find it in white list by hash
  --w_words             check extracted words against whitelist
  --w_all               find it in white list

Online multiscanner options:
  --ms_all              check hash in different multiscanner platforms(require
                        API keys)

        </pre>
      </div>
    </div>
</div>
{% endblock body %}
