{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="row fluid">
    <div class="col-md-6 center-block buffer">
        <img style="max-width: 100%; height: auto;" src="/static/bufferfind.png">
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="form-group">
            {% for f in form if f.type != 'CSRFTokenField' %}
            {% if f.label.text == "Buffer" %}
            {{ f }}
            {% endif %}
            {% endfor %}
            </div>
            <div class="form-group">
            {% for f in form if f.type != 'CSRFTokenField' %}
            {% if f.label.text != "Buffer" and f.label.text != "Analyzertimeout" and f.label.text != "Functiontimeout" %}
            {{ f }}
            {% endif %}
            {% endfor %}
            </div>
            <div class="form-group">
            {% for f in form if f.type != 'CSRFTokenField' %}
            {% if f.label.text == "Analyzertimeout" %}
            {{ f }}
            {% endif %}
            {% endfor %}
            </div>
            <div class="form-group">
            {% for f in form if f.type != 'CSRFTokenField' %}
            {% if f.label.text == "Functiontimeout" %}
            {{ f }}
            {% endif %}
            {% endfor %}
            </div>
            <div class="form-group">
            <button class="btn" type="submit">Upload</button>
            </div>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
    </div>
</div>
{% endblock body %}
